
<h3>Task Details</h3>

<section id="view-details">
    
<div class="task-info">
 

    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput disabled value="{{selectedTask?.title}}">
    </mat-form-field>

    
    <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <input matInput disabled value="{{selectedTask?.priority}}">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <input matInput disabled value="{{selectedTask?.status}}">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Due date</mat-label>
        <input matInput disabled value="{{selectedTask?.dueDate|date:'dd/MM/yyyy'}}">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Creation date</mat-label>
        <input matInput disabled value="{{selectedTask?.creationDate| date:'dd/MM/yyyy'}}">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>description</mat-label>
        <textarea
          matInput disabled value="{{selectedTask?.description}}"
         
        ></textarea>

        </mat-form-field>
    
</div>

</section>
