#login-content {
    display: flex;
    height: 100vh; 
  }
  
  .left-side, .right-side {
    flex: 1; 
    padding: 20px; 
    border: 1px solid #ddd;
    box-sizing: border-box; 
    display: flex;
  }


.right-side{
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-login{

    height: 36px;
    padding: 0 20%;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }

 

 
